.franchiseAdressCard, .franchiseNameCard{
    margin-bottom: 0px !important;
    padding:0px;
    line-height: 20px;
}

.franchiseAdressCard{
    font-size: 0.78em;
    padding-bottom: 1.5em;
}

.franchiseOpenCard{
    text-align: center;
}

.openFranchise{
    margin-top: 1px;
    color: #2acc12;
    border: 1px solid #2acc12;
}

.closedFranchise{
    margin-top: 1px;
    color:red;
    border: 1px solid red;
}

@media (min-width: 991px) {
    .breadcrumb li{
      font-size: 19px;
    }
}

.openOrClosedFranchiseHome{
    margin-left: 5% !important;
}

.closedfranchiseHome{
    padding-left: 10px;
    padding-right: 10px;
    background-color:#E03A26;
	border-radius:3px;
	border:2px solid #E03A26;
    color:white;
    font-weight: bold;
}


.openedfranchiseHome{
    padding-left: 10px;
    padding-right: 10px;
    background-color:#088b4a;
	border-radius:3px;
	border:2px solid #088b4a;
    color:white;
    font-weight: bold;
}

.close-btn{
    background-color: transparent;
    float: right;
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #da464a;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #da464a;
  }

.homeImageSection{
    width: 80%;
    align:center;

}
