.franchiseAdressCard, .franchiseNameCard{
    margin-bottom: 0px !important;
    padding:0px;
    line-height: 20px;
}

.franchiseAdressCard{
    font-size: 0.78em;
    padding-bottom: 1.5em;
}

.franchiseOpenCard{
    text-align: center;
}

.openFranchise{
    margin-top: 1px;
    color: #2acc12;
    border: 1px solid #2acc12;
}

.closedFranchise{
    margin-top: 1px;
    color:red;
    border: 1px solid red;
}
